body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
#display {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
input {
    border: none;
    outline: none;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
    grid-auto-rows: 50px;
}
button {
    border-radius: 20px;
    border: none;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.color {
    color: rgb(63, 255, 63);
}
#equal {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(63, 255, 63);
    color: white;
}
